/* base style for all blocks */
.pretty-map td.b {
	height:100px;
	width:100px;
	min-height: 100px;
	max-height: 100px;
	min-width: 100px;
	max-width: 100px;
	vertical-align: top;
	padding:0px;
	margin:0px;
	border:0px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.pretty-map input.md,
.pretty-map input.ml,
.pretty-map input.mrl,
.pretty-map input.mr {
    border:0px;
    padding:2px 4px;
    opacity: 0.8;
    font-size:70%;
    line-height:1;
    cursor: pointer;
}

/* sprite background */
.pretty-map table.c tbody>tr:not(:first-child)>td {
	background-image: url('https://raw.githubusercontent.com/atomic-addison/urbanfun/main/images/building_sprites-min.png');
}

/* cx inside, cxr ruined, cxd dark */
.pretty-map td.cx,
.pretty-map td.cxr,
.pretty-map td.cxd {
	background-position: -0px -0px;
}

/* c0 lane */
.pretty-map table.c td.c0 {
	background-position: -100px -0px;
}

/* c1 c5 street */
.pretty-map table.c td.c1,
.pretty-map table.c td.c5 {
	background-position: -0px -100px;
}

/* c2 building */
.pretty-map table.c td.c2 {
	background-position: -100px -100px;
}

/* c3 carpark */
.pretty-map table.c td.c3 {
	background-position: -200px -0px;
}

/* c4 park */
.pretty-map table.c td.c4 {
	background-position: -200px -100px;
}

/* c6 mall */
.pretty-map table.c td.c6-nw {
	background-position: -200px -500px;
}

.pretty-map table.c td.c6-ne {
	background-position: -300px -500px;
}

.pretty-map table.c td.c6-sw {
	background-position: -400px -500px;
}

.pretty-map table.c td.c6-se {
	background-position: -500px -500px;
}

/* c6 mall-special-inside */
.pretty-map table.c td.cx6-nw {
	background-position: -200px -500px;
	position: relative;
}

.pretty-map table.c td.cx6-ne {
	background-position: -300px -500px;
	position: relative;
}

.pretty-map table.c td.cx6-sw {
	background-position: -400px -500px;
	position: relative;
}

.pretty-map table.c td.cx6-se {
	background-position: -500px -500px;
	position: relative;
}

/* c7 church */
.pretty-map table.c td.c7 {
	background-position: -0 -200px;
}

/* c8 wasteland */
.pretty-map table.c td.c8 {
	background-position: -100px -200px;
}

/* c9 hospital */
.pretty-map table.c td.c9 {
	background-position: -200px -200px;
}

/* c10 arms */
.pretty-map table.c td.c10 {
	background-position: -300px -0;
}

/* c11 library */
.pretty-map table.c td.c11 {
	background-position: -300px -100px;
}

/* c12 police dept */
.pretty-map table.c td.c12 {
	background-position: -300px -200px;
}

/* c13 fire station */
.pretty-map table.c td.c13 {
	background-position: -0 -300px;
}

/* c14 cinema */
.pretty-map table.c td.c14 {
	background-position: -100px -300px;
}

/* c15 auto repair */
.pretty-map table.c td.c15 {
	background-position: -200px -300px;
}

/* c16 stadium */
.pretty-map table.c td.c16-nw {
	background-position: -600px -0;
}

.pretty-map table.c td.c16-ne {
	background-position: -600px -100px;
}

.pretty-map table.c td.c16-sw {
	background-position: -600px -200px;
}

.pretty-map table.c td.c16-se {
	background-position: -600px -300px;
}

/* c16 stadium-special-inside */
.pretty-map table.c td.cx16-nw {
	background-position: -600px -0;
	position: relative;
}

.pretty-map table.c td.cx16-ne {
	background-position: -600px -100px;
	position: relative;
}

.pretty-map table.c td.cx16-sw {
	background-position: -600px -200px;
	position: relative;
}

.pretty-map table.c td.cx16-se {
	background-position: -600px -300px;
	position: relative;
}

/* c16+6 [52,81] stadium mall */
.pretty-map table.c td.c16-stadmall {
	background-position: -600px -400px;
}

/* c16 stadmall-special-inside */
.pretty-map table.c td.cx16-stadmall {
	background-position: -600px -400px;
	position: relative;
}

/* c17 tower */
.pretty-map table.c td.c17 {
	background-position: -300px -300px;
}

/* c18 factory */
.pretty-map table.c td.c18 {
	background-position: -400px -0;
}

/* X c19 power station */
.pretty-map table.c td.c19 {
	background-position: -400px -100px;
}

/* c20 necrotech */
.pretty-map table.c td.c20 {
	background-position: -400px -200px;
}

/* c21 bank */
.pretty-map table.c td.c21 {
	background-position: -400px -300px;
}

/* c22 city zoo */
.pretty-map table.c td.c22 {
	background-position: -0 -400px;
}

/* X c23 animal pens */
.pretty-map table.c td.c23 {
	background-position: -400px -100px;
}

/* c25 mansion */
.pretty-map table.c td.c25-nw {
	background-position: -0 -600px;
}

.pretty-map table.c td.c25-ne {
	background-position: -100px -600px;
}

.pretty-map table.c td.c25-sw {
	background-position: -200px -600px;
}

.pretty-map table.c td.c25-se {
	background-position: -300px -600px;
}

/* c25 mansion-special-inside */
.pretty-map table.c td.cx25-nw {
	background-position: -0 -600px;
	position: relative;
}

.pretty-map table.c td.cx25-ne {
	background-position: -100px -600px;
	position: relative;
}

.pretty-map table.c td.cx25-sw {
	background-position: -200px -600px;
	position: relative;
}

.pretty-map table.c td.cx25-se {
	background-position: -300px -600px;
	position: relative;
}

/* c27 club */
.pretty-map table.c td.c27,
.pretty-map table.c td.c27b {
	background-position: -100px -400px;
}

/* c28 monument */
.pretty-map table.c td.c28 {
	background-position: -200px -400px;
}

/* c29 junkyard */
.pretty-map table.c td.c29 {
	background-position: -300px -400px;
}

/* c30 hotel */
.pretty-map table.c td.c30 {
	background-position: -400px -400px;
}

/* c31 fort */
.pretty-map table.c td.c310 {
	background-position: -400px -600px;;
}

.pretty-map table.c td.c311 {
	background-position: -500px -600px;
}

.pretty-map table.c td.c312 {
	background-position: -600px -600px;
}

.pretty-map table.c td.c313 {
	background-position: -700px -0;
}

.pretty-map table.c td.c314 {
	background-position: -700px -100px;
}

.pretty-map table.c td.c315 {
	background-position: -700px -200px;
}

.pretty-map table.c td.c316 {
	background-position: -700px -300px;
}

.pretty-map table.c td.c317 {
	background-position: -700px -400px;
}

/* c32 armoury */
.pretty-map table.c td.c32 {
	background-position: -500px -0;
}

/* c33 alley */
.pretty-map table.c td.c33 {
	background-position: -500px -100px;
}

/* c34 museum */
.pretty-map table.c td.c34 {
	background-position: -500px -200px;
}

/* c35 railway station */
.pretty-map table.c td.c35 {
	background-position: -500px -300px;
}

/* c36 school */
.pretty-map table.c td.c36 {
	background-position: -500px -400px;
}

/* c37 cemetery */
.pretty-map table.c td.c37 {
	background-position: -0 -500px;
}

/* c38 warehouse */
.pretty-map table.c td.c38 {
	background-position: -100px -500px;
}

/* specials inside overlay */

.pretty-map table.c td.cx16-stadmall *,
.pretty-map table.c td.cx16-nw *,
.pretty-map table.c td.cx16-ne *,
.pretty-map table.c td.cx16-sw *,
.pretty-map table.c td.cx16-se *,
.pretty-map table.c td.cx25-nw *,
.pretty-map table.c td.cx25-ne *,
.pretty-map table.c td.cx25-sw *,
.pretty-map table.c td.cx25-se *,
.pretty-map table.c td.cx6-nw *,
.pretty-map table.c td.cx6-ne *,
.pretty-map table.c td.cx6-sw *,
.pretty-map table.c td.cx6-se * {
	position: relative;
	z-index: 2;
}

.pretty-map table.c td.cx16-stadmall:before,
.pretty-map table.c td.cx16-nw:before,
.pretty-map table.c td.cx16-ne:before,
.pretty-map table.c td.cx16-sw:before,
.pretty-map table.c td.cx16-se:before,
.pretty-map table.c td.cx25-nw:before,
.pretty-map table.c td.cx25-ne:before,
.pretty-map table.c td.cx25-sw:before,
.pretty-map table.c td.cx25-se:before,
.pretty-map table.c td.cx6-nw:before,
.pretty-map table.c td.cx6-ne:before,
.pretty-map table.c td.cx6-sw:before,
.pretty-map table.c td.cx6-se:before{
	content: "";
	background-image: url('https://raw.githubusercontent.com/atomic-addison/urbanfun/main/images/building_sprites-min.png');
	opacity: 0.7;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	background-position: -0px -0px;
}

/* override background on sleep screen */
.pretty-map table.c tbody>tr>td[height="300"] {
	width: 300px;
	height: 300px;
	background-image: unset;
	color: #fff;
	background:
		linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%),
		url('https://raw.githubusercontent.com/atomic-addison/urbanfun/main/images/building_sprites-min.png');
	background-position: -100px -100px;
}

/* coordinate styling */
.pretty-map td.sb {
  position: relative;
}

.pretty-map .block_coordinates {
  position: absolute;
  font-size: smaller;
  top: 2px;
  right: 4px;
}
